* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.upload-input {
    max-width: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/* html {
    scroll-behavior: smooth;
} */
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: varelaround-regular;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.pd-70 {
    padding: 70px 0px;
}

.pd-50 {
    padding: 50px 0px;
}

/*
    menu bar
*/
header {
    width: 100%;
    background-color: #292F33;
}

header #menu-ngang {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #292F33;
}

#landing-menu {
    justify-content: center;
}

#landing-menu li a {
    white-space: nowrap;
}

#landing-menu .menu-link {
    color: #c6c6c6;
    font-family: roboto-bold, sans-serif;
    font-size: 0.875em;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

#landing-menu .menu-link:hover {
    color: #e0a916;
}

#landing-menu li {
    margin-right: 0.75em;
}

#landing-menu li .bg-white {
    font-size: 0.875em;
    text-transform: uppercase;
    font-family: roboto-regular;
    color: #080808;
    border-radius: 20px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*
    header banner
*/
.header-banner {
    margin-top: 60px;
    width: 100%;
    height: 95%;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}

.header-banner .container,
.header-banner .row,
.header-banner .col-md-7 {
    height: 100%;
}

.header-banner--left {
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.header-banner--left h2 {
    font-size: 2.875em;
    font-family: varelaround-regular;
    color: #030303;
    line-height: 1;
}

.header-banner--left p {
    font-family: roboto-regular;
    font-size: 1.125em;
    color: #030303;
    line-height: 1.125;
    margin: 1em 0px;
}

.btn-calendar {
    font-family: roboto-bold;
    font-size: 1em;
    border-radius: 20px;
    padding: 0.5em 1em;
}

.btn-yellow {
    color: #edb013;
    background-color: #030303;
    transition: 0.3s ease-out;
}

.btn-yellow:hover {
    transform: scale(1.05);
    color: #edb013;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.45);
}

.header-banner--right {
    position: relative;
    width: 100%;
    height: 100%;
}

/*
    content
*/
#main {
    width: 100%;
    /* height: 100%; */
    position: relative;
}

#ocr-demo {
    width: 100%;
    position: relative;
    padding-bottom: 100px !important;
}

.ocr-title {
    text-align: center;
    margin-bottom: 1em;
}

.ocr-title h2 {
    font-family: varelaround-regular, sans-serif;
    font-size: 2em;
    color: #030303;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.ocr-title p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #030303;
    opacity: 0.6;
    font-weight: 600;
}

.tieude-tab {
    justify-content: center;
    border-bottom: 1px solid #c6c6c6;
}

.tieude-tab .nav-item {
    margin-right: 8px;
}

.tieude-tab .nav-link {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #242424;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #e7e7e7;
    border-radius: 10px 10px 0px 0px;
}

.tieude-tab .nav-link.active {
    background-color: #fbc01d;
}

#ocr-demo--thecancuoc,
#ocr-demo--cmnd,
#ocr-demo--banglaixe {
    width: 100%;
    position: relative;
}

#myTabContent {
    margin-top: 30px;
    padding: 0px 1em;
}

.up-file {
    width: 100%;
    text-align: center;
    border: dashed 2px #C1C3C5;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    position: relative;
    /*max-height: 190px;*/
}

.up-file:before {
    position: absolute;
    top: 12%;
    left: 50%;
    content: "";
    width: 33px;
    height: 33px;
    /* background-image: url('../images/up-img.png'); */
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    transform: translateX(-50%);
}

.up-file--text {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.up-information {
    width: 100%;
    border: solid 3px #C1C3C5;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    /*max-height: 190px;*/
}

.up-information--ava {
    display: block;
    flex: 40%;
    max-width: 40%;
}

.up-information--ava img {
    max-height: 140px;
}

.up-information--details {
    display: block;
    flex: 60%;
    /*max-width: 60%;*/
    padding-left: 1em;
}

.up-information--details p {
    margin-bottom: 0px;
    color: #030303;
    font-size: 1em;
    font-family: roboto-regular;
    text-transform: uppercase;

}

.up-information--details p span {
    font-family: roboto-bold !important;
    font-size: 0.875em !important;
    text-transform: none !important;
}

/*
    demo gia tri
*/
#demo-value {
    background-color: #f8f8f8;
    background-image: url('../images/demo-value-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    padding: 100px 0px 140px;
}

.demo-value--content {
    width: 100%;
    position: relative;
    padding: 0px 1em;
}

.demo-value--content img {
    max-height: 60px;
    display: block;
    margin: 0 auto;
}

.demo-value--content h4 {
    font-family: varelaround-regular;
    font-size: 1.4em;
    color: #d99621;
    margin: 0.5em 0px;
}

.demo-value--content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    opacity: 0.6;
}

.btn-black {
    background-color: #edb013;
    color: #ffffff !important;
    transition: 0.3s ease-out;
    margin-top: 2em;
}

.btn-black:hover {
    transform: scale(1.05);
    color: #ffffff !important;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.45);
}

/*
    tai sao nen chon
*/
.ocr-why {
    width: 100%;
    position: relative;
}

.ocr-why--wrap {
    padding-top: 70px;
}

.why-img {
    max-height: 350px;
}

.why-title--left,
.why-title--right {
    width: 100%;
    position: relative;
}

.why-title--left h4,
.why-title--right h4 {
    font-family: varelaround-regular;
    font-size: 1.5em;
    color: #181818;
}

.why-title--left h4 {
    text-align: right;
}

.why-title--right h4 {
    text-align: left;
}

.why-title--left p,
.why-title--right p {
    font-family: 'Open Sans', 'Semi Bold', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    opacity: 0.6;
}


/*
    ocr so sanh
*/
.table .thead {
    background-image: linear-gradient(to right, #e29e05, #f0b618);
}

.table.table-hover {
    padding-left: 1em;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    background: -webkit-linear-gradient(273deg, rgba(255, 237, 191, 1) 0%, rgba(255, 255, 255, 1) 56%);
    background: -o-linear-gradient(273deg, rgba(255, 237, 191, 1) 0%, rgba(255, 255, 255, 1) 56%);
    background: linear-gradient(3deg, rgba(255, 237, 191, 1) 0%, rgba(255, 255, 255, 1) 56%);
}

.table .thead tr th {
    font-family: roboto-bold;
    font-size: 1.25em;
    color: #000000;
    vertical-align: middle;
}

.table tbody td {
    font-family: roboto-regular;
    font-size: 1em;
    color: #000000;
    vertical-align: middle;
}

.green-text {
    color: #11b800;
    font-family: roboto-bold;
}

.red-text {
    color: #ff0000;
    font-family: roboto-bold;
}

.robo-bold {
    font-family: roboto-bold;
}

/*
    ocr truong hop dac biet
*/
.ocr-title-sm h2 {
    font-size: 1.75em !important;
    text-transform: none !important;
}

.special-thumbnail {
    width: 100%;
    position: relative;
}

.special-thumbnail img {
    max-height: 150px;
}

.special-thumbnail--text {
    font-size: 0.875em;
    font-family: roboto-bold;
    color: #000000;
    opacity: 0.5;
    text-align: center;
    margin-top: 1em;
}

/*
    ocr gia tri
*/
#ocr-partner {
    background-color: #f8f8f8;
    background-image: url('../images/demo-value-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    padding: 70px 0px 150px;
}

.ocr-partner--thumbnail img {
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    max-height: 86px;
    display: block;
    margin: 0 auto;
}

/*
    ocr ve chung toi
*/
#ocr-about {
    background-image: url('../images/bg-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    z-index: 10;
    padding: 100px 0px 200px 0px;
}

#ocr-about::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

#ocr-about .container {
    z-index: 110;
    position: relative;
}

.ocr-about--title {
    margin-bottom: 100px;
}

.ocr-about--title h2 {
    color: #ffffff !important;
}

.about-img {
    max-height: 150px;
}

.ocr-about--content {
    width: 100%;
    position: relative;
}

.ocr-about--content h4 {
    font-family: varelaround-regular, sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}

.ocr-about--content p {
    font-size: 0.9375em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 22px;
}

/*
    ocr lien he
*/
#ocr-contact {
    background-image: url('../images/bg-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 10;
}

button.btn-calendar {
    color: #ffffff !important;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 0.5em;
}

.form-contact input,
.form-contact textarea,
.ocr-hotline {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    color: #000000;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 0.5em;
}

/*
    footer
*/
#footer {
    background-color: #292F33;
    width: 100%;
    position: relative;
}

.footer-menu {
    width: 100%;
    display: flex;
    position: relative;
    flex-basis: auto;
    justify-content: center;
}

.footer-menu ul {
    flex-direction: row !important;
    justify-content: flex-end;
    width: 100%;
}

.footer-menu ul li a {
    font-family: roboto-regular;
    color: #ffffff;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    white-space: nowrap;
}

.footer-menu ul li a:hover {
    color: #efb418;
}

.white-line {
    width: 100%;
    background-color: #2b2b2b;
    height: 0.5px;
    margin: 0.5em 0px;
}

.footer-hotline {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    color: #ffffff;
    opacity: 0.6;
    text-align: right;
    padding-right: 0.5em;
    white-space: nowrap;
    letter-spacing: -0.5px;
}

.text-under {
    display: flex;
    width: 100%;
}

.text-under p {
    max-width: 50%;
    display: block;
    flex: 50%;
}

.text-under p a i {
    color: #ffffff;
}

.text-under p a {
    color: #ffffff;
}

.text-under p a:hover {
    text-decoration: none;
}

.demo-value--wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ocr-special--wrap {
    padding-top: 50px;
}

.ghost-button-low {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.ghost-button {
    padding: 20px;
}

.ghost-button-low, .ghost-button {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 3px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.ghost-button-low:hover, .ghost-button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

#submit-btn {
    background: #337ab7;
    border: solid #2e6da4 1px;
    width: 200px;
    margin: 20px auto;
}

/* Loading icon */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px -32px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fac01c;
  border-color: #fac01c transparent #fac01c transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#info-loader, #contact-loader { display: none; position: absolute; top: 0px; width: 100%; height: 100%; background: #fff; opacity: 0.8; z-index: 1000;}
.up-information--details, #form-contact { position: relative; }

/*
    media mobiles
*/
@media (max-width: 767px) {
    * {}

    .ocr-why--wrap {
        padding-top: 20px !important;
    }

    .ocr-special--wrap {
        padding-top: 20px !important;
    }

    .ocr-about--title {
        margin-bottom: 1em !important;
    }

    a.navbar-brand.menu-logo {
        width: 47%;
    }

    .header-banner {
        padding-top: 5em;
        margin-top: 0px !important;
    }

    .footer-menu ul.navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    img.img-fluid.why-img {
        margin-bottom: 1em;
    }

    .footer-hotline {
        text-align: center;
    }

    .special-thumbnail--text {
        margin-top: 0px !important;
    }

    .ocr-about--content h4 {
        text-align: center !important;
    }

    .about-img {
        display: block;
        margin: 0 auto;
    }

    .why-title--right h4 {
        text-align: center !important;
    }

    .why-title--left h4 {
        text-align: center !important;
    }

    .special-thumbnail img {
        display: block;
        margin: 0 auto;
    }

    #demo-value {
        padding: 1.25em 0px;
    }

    .demo-value--content h4 {
        text-align: center;
    }

    .header-banner .container,
    .header-banner .row,
    .header-banner .col-md-7 {
        height: auto !important;
    }

    span.navbar-toggler-icon {
        color: #ffffff;
    }

    html {
        font-size: 80% !important;
    }

    div#orc-comparation {
        padding: 20px 0px !important;
    }

    div#ocr-partner {
        padding: 20px 00px !important;
    }

    div#ocr-about {
        padding: 20px 0px !important;
    }

    .up-file {
        margin-bottom: 8px;
    }

    #landing-menu li .bg-white {
        background-color: transparent !important;
        color: #c6c6c6;
        padding-left: 0px;
        padding-right: 0px;
        font-family: roboto-bold;
    }

    .ocr-title h2 {
        font-size: 1.65em;
    }

    .header-banner--left {
        width: 100%;
        padding-top: 5%;
        position: static;
        top: unset;
        transform: unset;
    }

    .header-banner--left h2 {
        text-align: center;
    }
}

/*
    media tablets
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    * {}

    .demo-value--wrap {
        padding: 30px 0px !important;
    }

    footer#footer {
        padding: 30px 0px !important;
    }

    div#ocr-contact {
        height: 50% !important;
    }

    a.navbar-brand.menu-logo {
        width: 47%;
    }

    .header-banner {
        padding-top: 5em;
        height: 50% !important;
        margin-top: 0px !important;
    }

    .footer-menu ul.navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    img.img-fluid.why-img {
        margin-bottom: 1em;
    }

    .footer-hotline {
        text-align: center;
    }

    .special-thumbnail--text {
        margin-top: 0px !important;
    }

    .ocr-about--content h4 {
        text-align: center !important;
    }

    .about-img {
        display: block;
        margin: 0 auto;
    }

    .why-title--right h4 {
        text-align: center !important;
    }

    .why-title--left h4 {
        text-align: center !important;
    }

    .special-thumbnail img {
        display: block;
        margin: 0 auto;
    }

    #demo-value {
        padding: 2em 0px;
    }

    .demo-value--content h4 {
        text-align: center;
    }

    .header-banner .container,
    .header-banner .row,
    .header-banner .col-md-7 {
        height: auto !important;
    }

    span.navbar-toggler-icon {
        color: #ffffff;
    }

    html {
        font-size: 80% !important;
    }

    div#orc-comparation {
        padding: 20px 0px !important;
    }

    div#ocr-partner {
        padding: 50px 00px !important;
    }

    div#ocr-about {
        padding: 50px 0px !important;
    }

    .up-file {
        margin-bottom: 8px;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .up-file:before {
        top: 5px !important;
    }

    #landing-menu li .bg-white {
        background-color: transparent !important;
        color: #c6c6c6;
        padding-left: 0px;
        padding-right: 0px;
        font-family: roboto-bold;
    }

    .ocr-title h2 {
        font-size: 1.65em;
    }

    .header-banner--left {
        width: 100%;
        padding-top: 5%;
        position: static;
        top: unset;
        transform: unset;
    }

    .header-banner--left h2 {
        text-align: center;
    }
}
